<style>

* {
  background-color: #333;
}

.container {

}

.container-row {
  height: 300px;
  width: auto;
}

</style>

<div class="container">
  <div class="row">
    <div class="bg-light h-25"></div>
  </div>

  <div class="row">
    <div class="bg-dark h-25"></div>
  </div>
  
  <div class="row">
    <div class="bg-dark h-25"></div>
  </div>


</div>
